body {
    --color-back: #f7f7f7;
    --color-title-back: #4CAF50;
    --color-title: #ffffff;
    --color-theme: #ff9800;
    --color-text: #333333;
    --color-icon-front: #4CAF50;
    --color-toolbar: #ff9800;
    --color-toolbar-button: #ffffff;
    --color-hover: #e68a00;
    --color-note-back: #ffffff;
    --color-note-border: #4CAF50;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--color-back);
    margin: 0;
    color: var(--color-text);
    padding: 0 16px 70px;
}

h1 {
    font-size: large;
    text-align: center;
    background-color: var(--color-title-back);
    color: var(--color-title);
    margin: 0 -16px 16px;
    padding: 16px;
    user-select: none;
    -webkit-user-select: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

span.icon {
    font-family: 'Material Icons';
    display: inline-block;
    font-feature-settings: 'liga';
    margin-bottom: 0;
    color: var(--color-icon-front);
    font-size: 16px;
    vertical-align: sub;
    user-select: none;
    -webkit-user-select: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    gap: 8px;
}

textarea {
    width: 70%;
    height: 80px;
    font-size: 16px;
    border: 2px solid var(--color-title-back);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-toolbar);
    color: var(--color-toolbar-button);
    font-size: 14px;
    padding: 10px 20px;
    line-height: 1.5;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    user-select: none;
    -webkit-user-select: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--color-hover);
}

#toolbar {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: calc(100% - 32px);
    left: 16px;
    background-color: var(--color-toolbar);
    padding: 8px 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

#notes {
    list-style: none;
    padding: 0;
    margin: 16px 0;
}

#notes li {
    background-color: var(--color-note-back);
    border-left: 10px solid var(--color-note-border);
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-text {
    flex-grow: 1;
}

.note-buttons {
    display: flex;
    gap: 8px;
}
